@import "tailwindcss";

@theme {
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
    --breakpoint-3xl: 1920px;
    --color-primary: #30Ba96;
    --color-secondary: #fffaee;
}

body {
    font-family: 'primary', sans-serif;
}

/* =============================================================
  Global font classes are used to change the font of the text.
================================================================*/
@font-face {
    font-family: "primary";
    src: url("./assets/fonts/SARABUN-REGULAR.TTF") format("truetype");
    /* src: url("/fonts/helveticanowtext-bold-demo.ttf") format("truetype"); */
}